body {
    background-image: url('http://cdn.wallpapersafari.com/38/72/l2QW79.png');
}

/*form {
    height: 100%;
}*/


.contact label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
    margin-top: 20px;
}
.contact input {
    margin-top: 20px;
    display: inline-block;
    float: left;
}

.contact textarea {
    margin-top: 20px;
    display: inline-block;
    float: left;
}

.form-group {
    height: 30px;
}

.slider {
    margin: 0 auto;
    width: 601px;
    height: 301px;
}

.container {
    margin: 0 auto;
    width: 600px;
    height: 300px;
}



.item img{
    margin: 0 auto;
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 600px;
    height: 300px;
}

.menu {
    margin: 0 auto;
    width: 570px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

h1 {
    text-align: center;
}

.form {
    height: 550px;
}

footer{
    margin-top: 0px;
    background:#ccc;
    position:absolute;
    width:100%;
    padding-top:50px;
    height:50px;
}

body > .container {
    padding-top: 60px;
}

.footer {
    margin-top: 0px;
    max-height: 315px;
    height: 100%;
    background-color: lightgrey;
}

.tiny-contact {
    float: left;
    width: 25%;
    margin-left: 100px;
}

.tiny-contact h2 {
    font-size: medium;
    font-weight: bold;
}

.tiny-contact-list {
    font-size: 13px;
}
.certif {
    float: none;
}

.certif img {
    width: 250px;
    height: 150px;
}

.bold {
    font-weight: bold;
    font-size: 120%;
}

.banner {
    width: 100%;
    height: 252px;
    background-image: url('../img/header_banner.png');
    background-position: center;
    background-repeat: no-repeat;
}

#news-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.list-content {
    top: 20px;
}

.list-family {
    clear: both;
}

.list-family-name {
    font-size: 20px;
    background-color: #dddddd;
    padding: 0 10;
}

.list-item {
    float: left;
    position: relative;
    width: 16%;
    background-color: #DEDEDE;
    margin: 0 6px 10px 6px;
}

.list-name {
    font-size: 140%;
}

.list-item:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.list-body{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    vertical-align: center;
    padding: 30px;
}

.user-icon {
    width: 53%;
    height: 70%;
    margin: auto;
    border-radius: 50%;
}

.acc-user-icon {
    width: 160px;
    height: 160px;
    margin: auto;
    border-radius: 160px;
}

.mini-user-icon {
    width: 45px;
    height: 45px;
    margin: auto;
    border-radius: 45px;
}

.header {
    display: inline-block;
}

.item {
    margin-left: 3%;
    margin-right: 3%;
    border: 1px solid;
    background-color: white;
}

.item-check, .header-item-check {
    min-width: 5%;
}

.item-name, .header-item-name {
    display: inline-block;
    min-width: 10%;
    width: 200px;
    font-size: 120%;
}

.header-item-img {
    display: inline-block;
    width: 280px;
}

.item-img {
    display: inline-block;
    width: 280px;
    height: 280px;
}

.item-img img {
    width: 280px;
    height: 280px;
}

.item-desc, .header-item-desc {
    display: inline-block;
    min-width: 10%;
    width: 400px;
}

.item-cost, .header-item-cost {
    display: inline-block;
    min-width: 10%;
    width: 100px;
}

.item-taken, .header-item-taken {
    display: inline-block;
    min-width: 10%;
    width: 100px;
}

.item-comment, .header-item-comment {
    display: inline-block;
    min-width: 10%;
    width: 100px;
}

.item-disabled {
    background-color: lightgray;
}

.action-box {
    text-align: center;
    margin-top: 60px;
}

.my-item-img-preview {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.my-item-img-preview img {
    width: 100px;
    height: 100px;
    vertical-align: baseline;
}

.my-btn {
    position: relative;
}

.btn-hidden {
    visibility: hidden;
}

    
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 75px;
    cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    left:0; top: -3px;
    width: 75px; height: 30px;
    background: #DDDDDD;
    border-radius: 15px;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    transition: background-color .2s;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    width: 20px; height: 20px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
    border-radius: 50%;
    background: #7F8C9A;
    top: 2px; left: 5px;
}

/* aspect désactivée */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
/* styles de la coche (si cochée/désactivée) */
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
/* on style aussi le label quand désactivé */
[type="checkbox"]:disabled + label {
  color: #aaa;
}

/* on checked */
[type="checkbox"]:checked + label:before {
    background:#34495E; 
}
[type="checkbox"]:checked + label:after {
    background: #39D2B4;
    top: 2px; left: 50px;
}

[type="checkbox"]:checked + label .ui,
[type="checkbox"]:not(:checked) + label .ui:before,
[type="checkbox"]:checked + label .ui:after {
    position: absolute;
    left: 6px;
    width: 65px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}
[type="checkbox"].item-check:not(:checked) + label .ui:before {
    content: "dispo";
    left: 32px
}
[type="checkbox"].item-check:checked + label .ui:after {
    content: "pris";
    color: #39D2B4;
}
[type="checkbox"].participant:not(:checked) + label .ui:before {
    content: "non";
    left: 32px
}
[type="checkbox"].participant:checked + label .ui:after {
    content: "oui";
    color: #39D2B4;
}
[type="checkbox"]:focus + label:before {
    border: 1px dashed #777;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: -1px;
}

.log-infos {
    width: 400px;
    margin: 0 auto;
}

.log-infos-label {
    float: left;
}

.log-infos-input {
    float: right;
}

.user-infos {
    width: 400px;
    margin: 0 auto;
}

.user-infos-label {
    float: left;
}

.user-infos-input {
    float: right;
}

.user-row {
    margin: 10 5 10 5;
}

.rounded-input {
    border-radius: 10px;
}

/*.user-action-box {
    position: absolute;
    bottom: 40%;
    left: 35%;
}*/

.navbar {
    height: 50px;
}

.header-container {
    width: 680px;
    height: 50px;
    margin: 0 auto;
}

.infos-block {
    display: inline-block;
    width: 45%;
}

.infos-block input {
    float: right;
}

.infos-block label {
    float: left;
}

.my-item-desc {
    display: inline-block;
}

.my-item-cost {
    display: inline-block;
}

.long-input {
    width: 90%;
}

.hidden-btn {
    display: none;
}

.center {
	text-align: center;
}

@import http://fonts.googleapis.com/css?family=Raleway;
/*----------------------------------------------
CSS Settings For HTML Div ExactCenter
------------------------------------------------*/
.log-main {
    width:300px;
    height:200px;
    margin: auto;
    font-family:raleway
}
#error {
    color:red;
    display: none;
}
#success {
    color:green;
    display: none;
}
.log {
    width:300px;
    float:left;
    border-radius:10px;
    font-family:raleway;
    border:2px solid #ccc;
    padding:10px 40px 25px;
    margin-top:30%
}
#log-login, #log-pwd, #log-email {
    width:99.5%;
    padding:10px;
    margin-top:8px;
    border:1px solid #ccc;
    padding-left:5px;
    font-size:16px;
    font-family:raleway
}
#log-submit {
    width:100%;
    background-color:#FFBC00;
    color:#fff;
    border:2px solid #FFCB00;
    padding:10px;
    font-size:20px;
    cursor:pointer;
    border-radius:5px;
    margin-bottom:15px
}

#reset-panel {
    display: none;
}

#chat-body {
    border-collapse:collapse;
    background-color:grey;
    margin:auto;
    width:50%;
    border-radius:10px;
    overflow:hidden;
}
  
#chat-form {
    height:100px;
    padding:2%;
    background-color:silver;
}
 
#chat-display {
    width:95%;
    height:100%;
    background-color:white;
    margin:auto;
    overflow-y:scroll;
}
 
#chat-form-table {
    width:100%;
    border-collapse:collapse;
    text-align:center;
}

#chat-message {
    border-radius:10px;
    padding:2%;
    width:100%;
}
#chat-submit {
    width:100%;
    padding:2%;
    border-radius:10px;
    font-family:raleway;
    font-size:medium;
}
 
#table_message {
    width:100%;
    font-size:small;
    font-family:raleway;
    border-collapse:collapse;
    table-layout:fixed;
}
 
.info_message {
    overflow:hidden;
    font-size:x-small;
    padding:1%;
}

.message {
    width:80%;
    x-overflow:hidden;
    y-overflow:visible;
    text-align:left;
    padding:1%;
}

.message2 {
    width:100%;
    overflow:hidden;
    word-break: break-all;
}

.triangle-right {
    display: inline-block;
    position:relative;
    padding:15px;
    margin:0em 0 1em;
    max-width: 90%;
    color:#fff;
    background:#075698; /* default background for browsers without gradient support */
    /* css3 */
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
    background:-moz-linear-gradient(#2e88c4, #075698);
    background:-o-linear-gradient(#2e88c4, #075698);
    background:linear-gradient(#2e88c4, #075698);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}


.triangle-right.left {
    margin-left:40px;
    /* background:#075698; */
}

/* creates triangle */
.triangle-right:after {
    content:"";
    position:absolute;
    bottom:-20px; /* value = - border-top-width - border-bottom-width */
    left:50px; /* controls horizontal position */
    border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
    border-style:solid;
    border-color:#075698 transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}

.triangle-right.left:after {
    top:16px;
    left:-40px; /* value = - border-left-width - border-right-width */
    bottom:auto;
    border-width:15px 40px 0 0; /* vary these values to change the angle of the vertex */
    border-color:transparent #075698;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-hidden {
    display: none;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* Dropdown */
.dropdown {
	/*margin:auto;*/
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 28px;
  width: 100px;
  background: #f2f2f2;
  border: 1px solid;
  border-color: white #f7f7f7 #f5f5f5;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}
.dropdown:before, .dropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888 transparent;
  pointer-events: none;
}
.dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}
.dropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.dropdown-select {
  position: relative;
  width: 130%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  line-height: 14px;
  font-size: 12px;
  color: #62717a;
  text-shadow: 0 1px white;
  /* Fallback for IE 8 */
  background: #f2f2f2;
  /* "transparent" doesn't work with Opera */
  background: rgba(0, 0, 0, 0) !important;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
.dropdown-select:focus {
  z-index: 3;
  width: 100%;
  color: #394349;
  outline: 2px solid #49aff2;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}
.dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
}

/* Fix for IE 8 putting the arrows behind the select element. */
.lt-ie9 .dropdown {
  z-index: 1;
}
.lt-ie9 .dropdown-select {
  z-index: -1;
}
.lt-ie9 .dropdown-select:focus {
  z-index: 3;
}

/* Dirty fix for Firefox adding padding where it shouldn't. */
@-moz-document url-prefix() {
  .dropdown-select {
    padding-left: 6px;
  }
}

.dropdown-dark {
  background: #444;
  border-color: #111 #0a0a0a black;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
}
.dropdown-dark:before {
  border-bottom-color: #aaa;
}
.dropdown-dark:after {
  border-top-color: #aaa;
}
.dropdown-dark .dropdown-select {
  color: #aaa;
  text-shadow: 0 1px black;
  /* Fallback for IE 8 */
  background: #444;
}
.dropdown-dark .dropdown-select:focus {
  color: #ccc;
}
.dropdown-dark .dropdown-select > option {
  background: #444;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}